<footer style="background-color: #00b33c;">
  <div class="container-fluid">
    <div class="row m-auto">
      <div class="col-md-4 pt-2 pb-2">
        <img src="../../../assets/img/p2g.png" alt="p2g" class="img-thumbnail">
      </div>
      <div class="col-md-4 pt-2 pb-2">
        <ul>
          <li class="nav-link text-white">Contact Play2Grow</li>
          <li class="nav-link text-white">Resources</li>
          <li class="nav-link text-white">Documents</li>
        </ul>
      </div>
      <div class="col-md-4 pt-3 pb-2">
        <p class="text-white">
          Play2Grow Developmental Therapy Services. All Rights Reserved.
        </p>
        <p class="text-white">
          8050 Warm Springs St. Suite 130, Tualatin OR 97062
        </p>
        <p class="text-white">
          Content Copyright {{ getCurrentYear() }}
        </p>
      </div>
    </div>
  </div>
</footer>
