<footer style="background-color: #28a745;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pt-2 pb-2">
        <img src="../../../assets/img/p2g.png" alt="p2g" class="img-thumbnail">
      </div>
      <div class="col-md-6 mt-4">
        <p class="text-white">
          Play To Grow Developmental Therapy Services. All Rights Reserved.
        </p>
        <p class="text-white">
          8050 Warm Springs St. Suite 130, Tualatin OR 97062
        </p>
        <p class="text-white">
          Content Copyright {{ getCurrentYear() }}
        </p>
        <p><a href="https://www.facebook.com/Play2GrowDevelopmentalTherapyServices/" target="_blank">Here is my FB.</a></p>
      </div>
    </div>
  </div>
</footer>
