<section class="jumbotron text-center mb-0">
  Pictures go here.
</section>

<section class="mission-statement text-center pt-3 pb-3 mt-0 mb-0">
  <h2 class="lead display-4 text-success">Play2Grow Developmental Therapy Services</h2>
  <p class="text-muted">A dope mission statement goes here.</p>
</section>

<section class="employees pt-3 pb-3 mt-0 mb-0" style="background-image: linear-gradient(#28a745, white);">
  <h4 class="text-white text-center mb-3">Play2Grow Staff</h4>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="300">
          <div class="card-body">
            <p class="card-text">Some text about Deborah Ferguson goes here.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="300">
          <div class="card-body">
            <p class="card-text">Some text about Chris Something goes here.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="300">
          <div class="card-body">
            <p class="card-text">Some text about Another Employee goes here.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="affiliates pt-3 pb-3 mt-0 mb-0" style="background-image: linear-gradient(white, #28a745);">
  <h4 class="text-white text-success text-center mb-3">Affiliates</h4>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="300px">
          <div class="card-body">
            <p class="card-text">Some text about DUT Occuptational Therapy goes here.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="300px">
          <div class="card-body">
            <p class="card-text">Some text about Play2Grow Behavioral Therapy goes here.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="300px">
          <div class="card-body">
            <p class="card-text">Some text about Rose City Therapy goes here.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
