<div class="container bg-secondary bg-light border border-success mb-1">
  <section class="mission-statement text-center pt-1 pb-1" style="background-color: transparent;">
    <div class="container">
      <h2 class="lead display-4 text-success mb-2"><b>Play to Grow Developmental Therapy</b></h2>
      <hr>
      <!-- <img src="../../../assets/img/bg-image.png" alt="bg-image" width="100%" class="mb-2"> -->
      <p class="text-muted text-left">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </div>
  </section>

  <section class="employees pt-1 pb-1 mt-0 mb-0">
    <h4 class="text-success text-center mb-3 display-4"><b>Our Therapists</b></h4>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="200">
            <div class="card-body">
              <p class="lead text-success mb-1">Deborah Ferguson</p>
              <p class="text-left"><a href="mailto:deborah@weplay2grow.com" class="text-success">deborah@weplay2grow.com</a></p>
              <p class="card-text text-muted">Some text about Deborah Ferguson goes here.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="200">
            <div class="card-body">
              <p class="lead text-success mb-1">Chris Franz</p>
              <p class="text-left"><a href="mailto:chris@weplay2grow.com" class="text-success">chris@weplay2grow.com</a></p>
              <p class="card-text text-muted">Some text about Chris Franz goes here.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="200">
            <div class="card-body">
              <p class="lead text-success">Another Employee</p>
              <p class="card-text text-muted">Some text about Another Employee goes here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="affiliates pb-3 mt-0 mb-0">
    <h4 class="text-white text-success text-center mb-3 display-4"><b>Associates</b></h4>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="200">
            <div class="card-body">
              <p class="lead"><a href="#" target="_blank" class="text-success">DUT Occupational Therapy</a></p>
              <p class="card-text text-muted">Some text about DUT Occuptational Therapy goes here.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="200">
            <div class="card-body">
              <p class="lead"><a href="#" target="_blank" class="text-success">Play2Grow Behavioral Therapy</a></p>
              <p class="card-text text-muted">Some text about Play2Grow Behavioral Therapy goes here.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../../assets/img/filler.png" alt="thumbnail" class="card-img-top" height="200">
            <div class="card-body">
              <p class="lead"><a href="#" target="_blank" class="text-success">Rose City Therapy</a></p>
              <p class="card-text text-muted">Some text about Rose City Therapy goes here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>