<div class="container-fluid nav-container">
  <nav class="navbar navbar-expand-sm">
    <ul class="m-auto">
      <li class="nav-link text-white" routerLink="/home">Home</li>
      <li class="nav-link text-white" routerLink="/ot">Treatment Services</li>
      <!-- <li class="nav-link text-white">Current Clients</li> -->
      <!-- <li class="nav-link text-white">Educational Resources</li> -->
      <!-- <li class="nav-link text-white">Blog</li> -->
      <li class="nav-link text-white" routerLink="/starting">Getting Started</li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
<app-p2g-footer></app-p2g-footer>