.nav-link:hover {
    cursor: pointer;
}

li {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
}

.nav-container {
    background-image: url('../assets/img/nav-bg.png');
    background-repeat: repeat-x;
    background-position: center top;
} 