<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-success">
    <ul class="m-auto">
      <li class="nav-link text-white" routerLink="/home">Home</li>
      <li class="nav-link text-white" routerLink="/ot">Occupational Therapy</li>
      <li class="nav-link text-white" routerLink="/speech">Speech Therapy</li>
      <li class="nav-link text-white" routerLink="/starting">Getting Started</li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <footer class="bg-success">Footer content here.</footer>
</div>
