<div class="container bg-secondary bg-light border border-success mb-1">
  <h4 class="lead display-4 text-success text-center">
    <i>Occupational Therapy Services</i>
  </h4>
  <hr>
  <p class="text-muted text-left">
      Occupational therapy is a profession dedicated to assisting individuals 
      with varying abilities to develop the skills that support success in the 
      tasks and activities (occupations) that are part of daily life. Pediatric 
      occupational therapists assist children with the ability to engage with 
      others; move; play; learn across all environments; and successfully 
      participate in daily tasks such as feeding, dressing, toileting, and sleeping. 
      Occupational therapy for adults with developmental disabilities focuses on 
      daily life skills, work, social, and recreational activities that may require 
      additional support. With extensive background in neurodevelopment, psychology, 
      rehabilitation, and education, occupational therapists are uniquely qualified 
      to take a holistic approach to intervention.
  </p>

  <p class="text-muted text-left">
      At Play to Grow Developmental Therapy Services we work closely with children 
      and adults with developmental challenges and their families to support success 
      in the tasks and activities that are most meaningful to them.  We believe that 
      learning occurs throughout the lifespan across multiple environments and within 
      the context of positive, supportive relationships.  As a result occupational 
      therapy takes many forms in the clinic, at home, school, work and in community 
      settings – wherever support is required for learning and integrating new skills. 
      Our goal is to assist you to develop the individual, environmental and interpersonal 
      supports essential to health and well-being.
  </p>

  <h4 class="lead display-4 text-success text-center">
    <i>What do we offer?</i>
  </h4>
  <hr>

  <section class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-4">
        <img src="../../../assets/img/filler.png" alt="filler" class="float-left rounded">
      </div>
      <div class="col-md-8">
        <h3 class="lead text-success">Meaningful Stuff</h3>
        <p class="text-muted text-left bg-light bg-secondary">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <img src="../../../assets/img/filler.png" alt="filler" class="float-left rounded">
      </div>
      <div class="col-md-8">
        <h3 class="lead text-success">Meaningful Stuff</h3>
        <p class="text-muted text-left bg-light bg-secondary">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <img src="../../../assets/img/filler.png" alt="filler" class="float-left rounded">
      </div>
      <div class="col-md-8">
        <h3 class="lead text-success">Meaningful Stuff</h3>
        <p class="text-muted text-left bg-light bg-secondary">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </div>
    </div>
    
  </section>
</div>
