<div class="container bg-secondary bg-light border border-success mb-4">
  <h4 class="lead display-4 text-success text-center">
    <b>Treatment Services</b>
  </h4>
  <hr>

  <section class="container-fluid">

    <div class="row mb-2">
      <div class="col-md-4">
        <img src="../../../assets/img/filler.png" alt="filler" class="float-left rounded">
      </div>
      <div class="col-md-8">
        <h3 class="lead text-success"><b>Sensory Integration</b></h3>
        <p class="text-muted text-left bg-light bg-secondary">
          Sensory Integration treatment is designed to support an individual's ability to 
          process and integrate sensory information so he or she can interact more comfortably 
          with others; engage more successfully in movement, play, self-care, work, and learning 
          activities; and better regulate social and emotional responses. Treatment is based on 
          a thorough assessment of each person’s sensory-motor skills, and includes activities 
          rich in movement, touch, deep pressure, auditory, and visual information; environmental 
          modifications that support organized integration of sensory information; and a "sensory 
          diet" of daily activities and routines designed to support organization of the nervous 
          system.
        </p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <img src="../../../assets/img/filler.png" alt="filler" class="float-left rounded">
      </div>
      <div class="col-md-8">
        <h3 class="lead text-success"><b>Interactive Metronome</b></h3>
        <p class="text-muted text-left bg-light bg-secondary">
          Interactive Metronome is a well-researched, computer-based intervention that 
          focuses on improving processing abilities that affect attention, motor planning 
          and sequencing. Research suggests that individuals who receive interactive 
          metronome treatment show statistically significant changes in attention, 
          organization, motor control, language processing, reading fluency and behavioral 
          control – areas of developpment which are typically challenged in individuals 
          with developmental, learning and attention problems such as ADHD, sensory processing 
          disorders, nonverbal learning disorders, autism, learning disabilities and other 
          related concerns. For research and information on Interactive Metronome, click 
          <a href="http://www.interactivemetronome.com" target="_blank" class="text-success">here</a>.
        </p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <img src="../../../assets/img/filler.png" alt="filler" class="float-left rounded">
      </div>
      <div class="col-md-8">
        <h3 class="lead text-success"><b>Therapeutic Listening</b></h3>
        <p class="text-muted text-left bg-light bg-secondary">
          Therapeutic Listening Programs use sound in combination with sensory, movement, postural 
          and breath work, and visual activities to support a variety of functional outcomes. All 
          of our senses (touch, movement, smell, taste, hearing and vision) work together to help 
          us understand and interact effectively with our world. In particular, sound combined with 
          movement provides vital information about the orientation of the body in space and time 
          that forms the basis of sensory motor function and perceptual organization. For this reason, 
          listening programs incorporated into a sensory- motor  treatment can result in positive 
          changes in attention, organization of behavior, self-regulation, postural control, 
          coordination of body sides, motor planning, fine and visual-motor skills, social engagement 
          and communication. For information about Integrated Listening Systems, click 
          <a href="http://www.integratedlistening.com" target="_blank" class="text-success">here</a>.
        </p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <img src="../../../assets/img/filler.png" alt="filler" class="float-left rounded">
      </div>
      <div class="col-md-8">
        <h3 class="lead text-success"><b>Autism Services</b></h3>
        <p class="text-muted text-left bg-light bg-secondary">
          Autism services at Play to Grow Developmental Therapy integrate behavioral, relationship-based, 
          social thinking, developmental approaches and communication supports into a comprehensive, 
          individualized, family-friendly intervention program. With specialized training in the 
          DIR/Floortime, the Early Start Denver Model (ESDM), Sensory Integration, Qiqong Sensory Massage, 
          Social Thinking, The Play Project, the TEAACH Method, and visual instruction strategies and 
          supports we have years of experience the resources to support your child and family.  
        </p>
      </div>
    </div>
    
    <div class="row mb-2">
      <div class="col-md-4">
        <img src="../../../assets/img/filler.png" alt="filler" class="float-left rounded">
      </div>
      <div class="col-md-8">
        <h3 class="lead text-success"><b>Qiqong Sensory Massage</b></h3>
        <p class="text-muted text-left bg-light bg-secondary">
          Qiqong has been practiced in China for thousands of years to promote general 
          health and well-being. Qiqong sensory massage is a form of Qiqong practice 
          that has been developed specifically for the needs of children with autism 
          and sensory regulatory disorders that can be simply and effectively provided 
          by parents in the home in approximately 15 to 20 minutes daily with training 
          and support from a qiqong certified therapist. In addition to being a wonderful 
          bonding experience between parent and child, research suggests that daily qiqong 
          massage results in improvements in sensory processing; regulation of sleep, 
          appetite and digestion; emotional regulation, social engagement, language skills, 
          and motor development. For research and information about Qigong Sensory Massage
          click <a href="http://www.qsti.org" target="_blank" class="text-success">here</a>.
        </p>
      </div>
    </div>

  </section>
</div>
