<div class="container bg-secondary bg-light border border-success mb-1">
  <h4 class="lead display-4 text-success text-center">
    <i>Speech Therapy Services</i>
  </h4>
  <hr>

  <p class="text-muted text-left">
      Speech-language pathologists (SLPs) are professionals who are trained 
      to assess speech and language development and to treat speech and 
      language disorders. SLPs are sometimes informally referred to as speech 
      therapists. There are many different areas within speech and language 
      that an SLP is qualified to assess and treat, including (but not limited 
      to) the following:
  </p>

  <hr>
  <section class="container-fluid">

    <div class="row mb-2">
      <div class="col-md-4">
        <img src="../../../assets/img/filler.png" alt="filler" class="float-left rounded">
      </div>
      <div class="col-md-8">
        <h3 class="lead text-success">Speech Disorders</h3>
        <p class="text-muted text-left bg-light bg-secondary">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <img src="../../../assets/img/filler.png" alt="filler" class="float-left rounded">
      </div>
      <div class="col-md-8">
        <h3 class="lead text-success">Language Disorders</h3>
        <p class="text-muted text-left bg-light bg-secondary">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </div>
    </div>

  </section>

  <hr>
  <section class="container-fluid pl-2">
    <div class="row pl-3">
      <p>Sometimes speech and/or language disorders co-occur with other diagnoses, such as:</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group border border-success rounded">
          <li class="list-group-item option" *ngFor="let disorder of disorders; let i = index">
            <span (click)="setCurrentDisorder(i)" class="name">{{ disorder.disorderName }}</span>
          </li>
        </ul>
      </div>
      <div class="col-md-8 border border-success rounded bg-white">
        {{ disorders[currentDisorder].disorderDescription }}
      </div>
    </div>
    <div class="row pl-3 pt-2">
      <p class="text-left">
        Every individual child possesses different strengths and weaknesses when using 
        speech and language effectively to communicate with others. At Play to Grow 
        Developmental Therapy Services, we are dedicated to assisting children in developing 
        effective and functional communication skills that will carry over into every aspect 
        of their lives. If you have concerns about your child’s speech and/or language skills, 
        please contact us at Play to Grow Developmental Therapy Services. We would be happy to 
        answer any questions you may have or to provide a complimentary speech and language 
        screening to determine if further evaluation or treatment may be necessary.
      </p>
    </div>
  </section>

</div>
